doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      h1.text-center #{title}

      h4.text-center Welcome to #{title}
      
      h4.text-center 
        a(href="/") Home

      br
      br
      - if(data.length)
          table.table
            tr
               th BookID
               th CardNumber
               th BorrowerName
               th Check In      
                 each col in data
                   tr
                      td #{col.BookID}
                      td #{col.CardNumber}
                      td #{col.BorrowerName}
                      td 
                        a(href="/checkedin/:#{col.BookID}" ) Check In
      -else
         p Your query does not match any field. Please try again with another search term.



